.sidebar {
  background: linear-gradient(rgba(18, 41, 50, 0.7), rgba(18, 41, 50, 0.7)),
    url("../../assets/sidebar.jpg") bottom center no-repeat;

  background-size: cover;
  height: 100vh;
  width: 200px;
  padding: 15px;
  color: #fff;
  & > * {
    margin-bottom: 10px;
  }
}
